<div class="todo-item__content">
  <mat-checkbox [checked]="todo().completed" (change)="toggleCompleted()"></mat-checkbox>
  @if (!editMode()) {
    <span class="todo-item__title">{{ todo().title }}</span>
    <app-tag class="todo-item__chip" [text]="todo().tag" color="default" size="sm"></app-tag>
    <app-tag class="todo-item__priority" [text]="todo().priority" [color]="priorityColor()" size="sm"></app-tag>
    <button mat-icon-button color="primary" (click)="startEdit()" class="todo-item__edit-btn">
      <mat-icon>edit</mat-icon>
    </button>
  }
  @if (editMode()) {
    <mat-form-field class="todo-item__edit-field">
      <input matInput [value]="editTitle()" (input)="onTitleInput($event)" />
    </mat-form-field>
    <mat-form-field class="todo-item__edit-field">
      <mat-select [value]="editTag()" (valueChange)="editTag.set($event)">
        @for (tag of tagOptions; track tag) {
          <mat-option [value]="tag">{{ tag }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="todo-item__edit-field">
      <mat-select [value]="editPriority()" (valueChange)="editPriority.set($event)">
        @for (p of priorityOptions; track p) {
          <mat-option [value]="p">{{ p }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="saveEdit()" class="todo-item__save-btn">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button (click)="cancelEdit()" class="todo-item__cancel-btn">
      <mat-icon>close</mat-icon>
    </button>
  }
  <button mat-icon-button color="warn" (click)="delete()" class="todo-item__delete-btn">
    <mat-icon>delete</mat-icon>
  </button>
</div>
